body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #333;
}
td.ip-col {
    background-color: #000;
    color: #fff;
}
